<!-- Navbar section. -->
<section>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/articles" style="font-family: 'Rock Salt', cursive">NetScraper</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="/articles">Articles<span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="/saved">Saved</a>
      </div>
    </div>
  </nav>
</section>

<!-- Scrape/Clear buttons. -->
<section>
  <div class="row">
    <div class="col-12" align="right">
      <div class="btn-group scrape-clear-btn" role="group" aria-label="Scrape or Clear">
        <a href="/scrape" class="btn btn-primary" role="button" aria-disabled="true">Scrape</a>
        <a href="/clear" class="btn btn-outline-primary" role="button" aria-disabled="true">Clear</a>
      </div>
    </div>
  </div>
</section>

<section>
  <!-- Articles.  -->
  {{#each articles}}
  <div class="row">
    <div class="col-12">
      <div class="card shadow m-3" style="width: 90%;">
        <div class="card-body">
          <h5 class="card-title">{{title}}</h5>
          <p class="card-text">{{summary}}</p>
          <p class="card-text"><a href="{{link}}" target="_blank">Read the full article</a></p>
          <a href="/save/{{id}}" class="btn btn-primary" role="button" aria-disabled="true">Save article</a>
        </div>
      </div>
    </div>
  </div>
  {{/each}}
</section>