<div class="row">
  <div class="col-12" align="right">
    <div class="btn-group" id="scrape-clear-btn" role="group" aria-label="Scrape or Clear">
      <a href="/scrape" class="btn btn-info" role="button" aria-disabled="true">Scrape</a>
      <a href="/clear" class="btn btn-info" role="button" aria-disabled="true">Clear</a>
    </div>
  </div>
</div>

<section>
  <!-- Articles.  -->
  {{#each articles}}
  <div class="card shadow m-3" style="width: 800px;">
    <div class="card-body">
      <h5 class="card-title">{{title}}</h5>
      <p class="card-text">{{summary}}</p>
      <p class="card-text"><a href="{{link}}">Read the full article</a></p>
    </div>
  </div>
  {{/each}}
</section>